<div class="card mb-2">
  <div class="card-header">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="title"><%= @list %></h4>
      <span class="subtitle"><%= @list.org_unit %></span>

      <div role="toolbar">
        <%= back_link %>
        <%= edit_link(@list) %>
        <%= delete_link(@list) %>
      </div>
    </div>
  </div>
</div>

<div id="ts_task_cards" class="ml-2 mb-3">
  <%= render 'tasks/cards',
      columns: @columns,
      tasks: @tasks,
      ability: @current_ability
 %>

</div>

