<div class="card">
  <div class="card-header">
    <div class="subtitle float-none"><%= t('activerecord.models.list') %>:</div>
    <h4 class="title float-left"><%= @list %></h4>

    <div role="toolbar" class="float-right">
      <%= edit_link(@list) %>
      <%= delete_link(@list) %>
    </div>
    
  </div>
  <div class="card-body">
    <table class="table table-borderless table-hover autowidth">
      <tr>
        <th class="w-25"><%= t('attributes.org_unit')%>:</th>
        <td><%= @list.org_unit %></td>
      </tr>
    </table>
    <div role="toolbar">
      <%= back_link %>
    </div>

  </div>
</div>
