<div class="bg-light">
  <div id="newTaskNote" class="pb-2">
    <%= simple_form_for([noteable, note]) do |form| %>
      <h5 class="bt mt-3"><%= t('actions.add', model: t('activerecord.models.note')) %></h5>
      <%= form.input :description, as: :rich_text_area,
            wrapper: :vertical_form, label: false
         %>

      <% if noteable.kind_of? Task %>
        <%= render 'notes/mail_form_fields', task: noteable %>
      <% end %>
      <div role="toolbar" class="">
        <%= form.button :submit, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
