<div data-controller="datatables">
  <%= content_tag :table, role: :datatable,
        id: "notes_table",
        class: "table table-bordered table-responsive-xl",
        data: {
          order: [[0, 'desc']].to_json
        } do %>
    <thead>
      <tr>
            <th><%= t('attributes.task') %></th>
            <th><%= t('attributes.description') %></th>
            <th><%= t('attributes.user') %></th>
            <th><%= t('attributes.date') %></th>
            <th class="nosort"><%= t('titracka.action') %></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
      </tr>
    </tfoot>
    <tbody>
      <% noteable.notes.each do |note| %>
        <%= content_tag(:tr, id: dom_id(note)) do %>
                <td><%= note.task %></td>
                <td><%= truncate(strip_tags(note.description.to_s), length: 300)%></td>
                <td><%= note.user.decorate.shortname %></td>
                <td><%= note.date %></td>
                <td class="text-nowrap">
                  <%= edit_link([noteable, note],
                                data: { controller: :modal,
                                        'modal-modal-id-value': 'sharedModal',
                                        action: 'click->modal#open',
                                        'turbo-frame': "modal-body" })
                    %>
                  <%= delete_link([noteable, note],
                        { data: { turbo: { method: :delete, 
                                           confirm: "Are you sure?" }}}) %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>
