<div data-controller="datatables">
  <%= content_tag :table, role: :datatable,
        id: "notes_table",
        class: "table table-bordered table-responsive-xl",
        data: {
          order: [[0, 'desc']].to_json
        } do %>
    <thead>
      <tr>
            <th><%= t('attributes.task') %></th>
            <th><%= t('attributes.description') %></th>
            <th><%= t('attributes.user') %></th>
            <th><%= t('attributes.date') %></th>
            <th class="nosort"><%= t('titracka.action') %></th>
      </tr>
    </thead>
    <tfoot class="search">
      <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="nosearch"></th>
      </tr>
    </tfoot>
    <tbody>
      <% noteable.notes.each do |note| %>
        <%= content_tag(:tr, id: dom_id(note)) do %>
                <td><%= link_to note.task,
                        task_path(note.task),
                        class: 'primary-link'
                     %></td>
                <td><%= truncate(strip_tags(note.description.to_s), length: 300)%></td>
                <td><%= note.user.decorate.shortname %></td>
                <td><%= note.date %></td>
                <td class="text-nowrap">
                  <%= edit_link([noteable, note],
                                data: { 'turbo-frame': "modal" })
                    %>
                  <%= delete_link([noteable, note]) %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>
