<div class="row mb-3">
  <%= label_tag :mail_to, t('attributes.mail_to'), class: "form-label col-sm-2" %>
  <div class="col-sm-10">
    <%= select_tag "mail_to", 
          options_for_select(mailaddresses_for_select(task, current_user)),
          prompt: t('titracka.no_email'),
          class: 'form-control'
    %>
  </div>
</div>

<div class="row mb-3">
  <%= label_tag "email subject prefix", nil, class: "col-sm-2" %>
  <div class="col-sm-10">
    <div class="form-check">
      <%= radio_button_tag :subject_prefix, "task_id", class: "form-check-input" %>
      <%= label_tag :subject_prefix, "Titracka task id", class: "form-check-label" %>
    </div>
    <% task.cross_references.each do |xref| %>
      <div class="form-check">
        <%= radio_button_tag :subject_prefix, xref.mail_identifier, class: "form-check-input" %>
        <%= label_tag :subject_prefix, "#{xref} - #{xref.subject.truncate(75, separator: ' ')}", class: "form-check-label" %>
      </div>
    <% end %>
  </div>
</div>

