<%= render 'shared/turbo-cache-control' %>
<h1><%= t('controller.notes') %></h1>

<div id="ts_notes">
  <%= render 'index', noteable: @noteable %>
</div>
<br />

<%= back_link %>
<%= new_link [@noteable, Note],
              data: { 'turbo-frame': "modal" }
 %>

