<div class="card">
  <div class="card-header">
    <h4><%= t('activerecord.models.note') %></h4>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover autowidth">
    
      <tr>
        <th><%= t('attributes.task')%>:</th>
        <td><%= @note.task %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.user')%>:</th>
        <td><%= @note.user %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.date')%>:</th>
        <td><%= @note.date %></td>
      </tr>
        </table>

    <div role="toolbar">
      <%= back_link %>
      <%= edit_link([@noteable, @note]) %>
      <%= delete_link([@noteable, @note]) %>
      <%= new_link [@noteable, Note] %>
    </div>
  </div>
</div>
