<%= content_tag :div,
      class: "priority-#{@task.priority} list-group-item mb-2 pb-1 shadow-sm",
      id: "card_task_#{@task.id}",
      data: { "draggable-target": ('task' if @ability.can?(:update, @task)),
              controller: 'toggle',
              'toggle-toggle-class': 'hidden',
              id: @task.id,
              url: state_task_path(@task.state, @task) } do 
 %>
  <span data-action="click->toggle#toggle" class="float-end">
    <i data-toggle-target="content" class="clapse icon-color"></i>
  </span>
  <%= link_to(new_task_note_path(@task),
              id: "task_subject_#{@task.id}",
              class: "force_card me-1",
              data: { 'turbo-frame': "modal" }) do 
  %>
    <div class="d-flex w-100"><%= @task.subject %></div>
    <div data-toggle-target="content">
      <div class="d-flex w-100 justify-content-between small text-body-secondary">
        <p class="mb-1"><%= truncate(strip_tags(@task.description.to_s), length: 300) %></p>
      </div>
      <div class="small text-body-secondary">
       <%= helpers.raci(@task) %>
      </div>
      <div class="d-flex w-100 justify-content-between small timeline">
        <%= helpers.timeline(@task) %>
      </div>
    </div>
  <% end %>

  <!-- action icons -->
  <div class="d-flex w-100 small icon-color action-icons">
    <%= link_to raw(%Q[<i class="far fa-fw fa-comment"></i>]),
                new_task_note_path(@task),
                id: "new_note_#{dom_id(@task)}",
                class: "me-1",
                data: { 'turbo-frame': "modal" }
     %>
    <% if @ability.can? :update, @task %>
      <%= link_to helpers.icon_edit, 
                  edit_task_path(@task),
                  id: "edit_#{dom_id(@task)}",
                  class: "me-1",
                  data: { 'turbo-frame': "modal" }
       %>
    <% end %>
    <%= link_to raw('<i class="far fa-fw fa-clock"></i>'),
                new_task_time_accounting_path(@task),
                id: "new_time_accounting_#{dom_id(@task)}",
                class: "me-1",
                data: { 'turbo-frame': "modal" }
     %>
    <% if @ability.can?(:update, @task) && (@task.state&.state == 'done' ) && (@state_archive_id > 0) %>
      <%= button_to(task_path(@task), method: :patch,
                    id: "archive_#{dom_id(@task)}",
                    title: t('titracka.archive_task'),
                    class: "ms-1 me-2 button_as_link",
                    form: {data: { "turbo-confirm": t('titracka.confirm_archive_task')}},
                    params: { task: { state_id: @state_archive_id }}) do %>
        <i class="fas fa-fw fa-lock"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
