<div data-controller="toggle" data-toggle-toggle-class="hidden">
  <i data-toggle-target="content" data-action="click->toggle#toggleAll" class="clapse float-right"></i>
</div>
<%= content_tag :div, class: :row, id: 'tasksCardboard', 
      data: { 
        controller: 'draggable toggle',
        "toggle-toggle-class": "hidden",
        filter: filter,
        url: url
      } do %>
  <% columns.each do |column| %>
    <div class='card-deck col px-1'>
      <div class='card border-0'>
        <div class="card-header text-center border d-flex justify-content-between" data-controller="task">
          <%= column.name %>
          <% if ability.can? :create, Task %>
            <span id="new_task_to_<%=  column.id %>" class="ml-2 icon-color mr-n2"
                  data-reflex="click->Task#new"
                  data-column-type="<%= column.class.name %>"
                  data-column-id="<%= column.id %>"
                  data-modal-id="formTaskModal"
                  data-reflex-dataset="combined"
                  title="<%= t('actions.add', model: Task.model_name.human) %>"
              >
              <%= icon_new %>
            </span>
          <% end %>
        </div>

        <%= content_tag :ul, class: 'list-group list-group-flsh dropzone px-2 bg-light', data: { id: column.id, "draggable-target": 'column' } do %>
          <%= render(tasks_per_column[column.id], column: column, ability: ability) if tasks_per_column[column.id].present? %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

