<div class="card bg-light" data-controller="filters" id="cards_filter">
  <div class="card-body">
    <div class="form-group">
      <%= label_tag :subject, t('attributes.title'), class: "form-label" %> 
      <%= text_field_tag "subject", nil, 
            class: 'form-control',
            data: { 
              action: "change->filters#filter",
              'filters-target': 'filter'
            }
      %>
    </div>

    <div class="form-group">
      <%= label_tag :id, t('titracka.task_id'), class: "form-label" %> 
      <%= text_field_tag "id", nil, 
            class: 'form-control',
            data: { 
              action: "change->filters#filter",
              'filters-target': 'filter'
            }
      %>
    </div>

    <div class="form-group">
      <%= label_tag :status, t('attributes.state'), class: "form-label" %>
      <div data-controller="toggle checkbox-list"
           data-toggle-toggle-class="hidden" >
        <button class="toggler form-control text-left btn bg-white border w-100" 
          data-action="toggle#toggle"
          data-checkbox-list-target="count" >
          --
        </button>
        <div class="hidden checkboxing p-2 border bg-white" data-toggle-target="content">
          <div class="flex flex-col">
            <div class="checkboxing-header d-flex justify-content-between">

              <button class="btn btn-sm btn-outline-secondary"
                data-action="checkbox-list#checkNone filters#filter"
              >
                <%= t('titracka.clear_selection') %>
              </button>
            </div>

            <div class="checkboxing-list my-2">
              <% State.visible.each do |state| %>
                <%= content_tag(:div, class: "form-check") do %>
                  <%= check_box_tag 'state_ids[]', state.to_param, 
                        params.fetch(:state_ids, []).include?(state.to_param),
                        class: "form-check-input mr-2",
                        data: { 
                          'filters-target': 'filter' ,
                          'action': 'checkbox-list#onChecked'
                        } %>
                  <%= label_tag state, state, class: "form-check-label" %>
                <% end %>
              <% end %>
            </div>

            <div class="checkboxing-action-footer">
              <button class="p-2 w-100 btn btn-sm btn-primary"
                data-action="filters#filter"
              >
                Apply
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :priority, t('attributes.priority'), class: "form-label" %>
      <div data-controller="toggle checkbox-list"
           data-toggle-toggle-class="hidden" >
        <button class="toggler form-control text-left btn bg-white border w-100" 
          data-action="toggle#toggle"
          data-checkbox-list-target="count" >
          --
        </button>
        <div class="hidden checkboxing p-2 border bg-white" data-toggle-target="content">
          <div class="flex flex-col">
            <div class="checkboxing-header d-flex justify-content-between">

              <button class="btn btn-sm btn-outline-secondary"
                data-action="checkbox-list#checkNone filters#filter"
              >
                <%= t('titracka.clear_selection') %>
              </button>
            </div>

            <div class="checkboxing-list my-2">
              <% t('titracka.priority').each_pair do |prio,translation| %>
                <%= content_tag(:div, class: "form-check") do %>
                  <%= check_box_tag 'priority_ids[]', prio, 
                        params.fetch(:priority_ids, []).include?(prio.to_s),
                        class: "form-check-input mr-2",
                        data: { 
                          'filters-target': 'filter' ,
                          'action': 'checkbox-list#onChecked'
                        } %>
                  <%= label_tag prio, translation, class: "form-check-label" %>
                <% end %>
              <% end %>
            </div>

            <div class="checkboxing-action-footer">
              <button class="p-2 w-100 btn btn-sm btn-primary"
                data-action="filters#filter"
              >
                Apply
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :org_unit_id, t('attributes.org_unit'), class: "form-label" %> 
      <%= select_tag "org_unit_id",
            options_from_collection_for_select(OrgUnit.accessible_by(current_ability, :read), 'id', 'name_for_selects', params[:org_unit_id]),
            include_blank: "--",
            data: { 
              action: "change->filters#filter",
              'filters-target': 'filter',
              controller: :select
            }
      %>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input name="subtree" type="hidden" value="false"/>
        <%= check_box_tag "subtree", "true", (params[:subtree] == "true"),
            class: "form-check-input",
            data: { 
              action: "change->filters#filter",
              'filters-target': 'filter'
            }
        %>
        <label class="form-check-label" for="subtree">
          <%= t('titracka.include_subtree') %>
        </label>
      </div>
      <div class="form-check">
        <input name="without_lists" type="hidden" value="false"/>
        <%= check_box_tag "without_lists", "true", (params[:without_lists] == "true"),
            class: "form-check-input",
            data: { 
              action: "change->filters#filter",
              'filters-target': 'filter'
            }
        %>
        <label class="form-check-label" for="subtree">
          <%= t('titracka.without_lists') %>
        </label>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :list_id, t('attributes.list'), class: "form-label" %> 
      <%= select_tag "list_id",
            options_from_collection_for_select(List.accessible_by(current_ability, :read), 'id', 'name_for_selects', params[:list_id]),
            include_blank: "--",
            data: { 
              action: "change->filters#filter",
              'filters-target': 'filter',
              controller: :select
            }
      %>
    </div>
    <div class="form-group">
      <%= label_tag :user_id, t('attributes.owner'), class: "form-label" %>
      <%= select_tag "user_id",
            options_from_collection_for_select(Wobauth::User.all, 'id', 'name', params[:user_id]),
            include_blank: "--",
            data: { 
              action: "change->filters#filter",
              'filters-target': 'filter',
              controller: :select
            }

      %>
    </div>

    <div class="form-group">
      <%= label_tag :responsible_id, t('attributes.responsible'), class: "form-label" %>
      <%= select_tag "responsible_id",
            options_from_collection_for_select(Wobauth::User.all, 'id', 'name', params[:responsible_id]),
            include_blank: "--",
            data: { 
              action: "change->filters#filter",
              'filters-target': 'filter',
              controller: :select
            }
      %>
    </div>

    <div class="form-group">
      <%= label_tag :cross_reference, t('attributes.cross_reference'), class: "form-label" %> 
      <%= text_field_tag "cross_reference", nil, 
            class: 'form-control',
            data: { 
              action: "change->filters#filter",
              'filters-target': 'filter'
            }
      %>
    </div>
    <button class="btn btn-sm btn-outline-secondary mt-2"
      data-action="filters#reset" >
      <%= t('titracka.clear_all_filters') %>
    </button>
  </div>
</div>
