<div class="container">
  <%= simple_form_for(@task,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">
      <%= f.input :subject, label: t('attributes.task')
	 %>
      <%= f.input :description, as: :rich_text_area
	 %>
      <%= f.input :start, as: :string, wrapper: :horizontal_date
        %>
       <%= f.input :deadline, as: :string, wrapper: :horizontal_date
        %>
      <%= f.input :resubmission, as: :string, wrapper: :horizontal_date
	 %>
      <%= f.input :priority
	 %>
      <%= f.association :responsible
	 %>
      <%= f.association :org_unit
	 %>
      <%= f.association :state
	 %>
      <%= f.association :list
	 %>
      <%= f.input :private
	 %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
