<%= simple_form_for([@taskable, @task]) do |form| %>

  <%= form.input :subject, label: t('attributes.task')
     %>
  <%= form.input :description, as: :rich_text_area
     %>
  <%= form.association :state, 
        include_blank: false
     %>
  <%= form.association :org_unit, 
      collection: @org_units.arrange_as_array,
      wrapper: :horizontal_select
     %>
  <%= form.association :list,
      collection: @lists,
      wrapper: :horizontal_select
     %>
  <%= form.association :user,
      label: t('attributes.owner'),
      collection: @users,
      wrapper: :horizontal_select
     %>
  <%= form.association :responsible,
      collection: @users,
      wrapper: :horizontal_select
     %>
  <%= render 'cross_reference_form', form: form %>

  <%= form.input :priority, collection:
        Task::PRIORITIES.map {|x| [t(x, scope: 'titracka.priority'), x]},
          include_blank: false,
          input_html: {class: 'col-lg-4 col-sm-8'}
     %>
  <%= form.input :start, as: :string, wrapper: :horizontal_date,
        input_html: {class: 'col-lg-4 col-sm-8'}
    %>
  <%= form.input :deadline, as: :string, wrapper: :horizontal_date,
        input_html: {class: 'col-lg-4 col-sm-8'}
    %>
  <%= form.input :resubmission, as: :string, wrapper: :horizontal_date,
        input_html: {class: 'col-lg-4 col-sm-8'}
     %>
  <%= form.input :private
     %>

  <div class="row">
    <div class="offset-sm-3">
      <%= form.button :submit, class: 'btn btn-primary' %>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('actions.cancel') %></button>
    </div>
  </div>

<% end %>
