<div class="modal fade" id="formTaskModal" tabindex="-1" role="dialog"
     aria-labelledby="formTaskModalLabel" aria-hidden="true"
     data-controller="form" data-form-render-root="tasksCardboard">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formTaskModalLabel">
          <%= t('activerecord.models.task') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for([@taskable, task],
            remote: true,
            html: { class: 'form-horizontal' },
            data: {
              action: "ajax:success->form#onPostSuccess ajax:error->form#onPostError"
            }
          ) do |form| %>
        <div class="modal-body">

          <%= form.input :subject, label: t('attributes.task')
             %>
          <%= form.input :description, as: :rich_text_area
             %>
          <%= form.association :state,
                include_blank: false
             %>
          <%= form.association :responsible,
              collection: users,
              wrapper: :horizontal_select2
             %>
          <%= form.association :org_unit,
              collection: org_units&.arrange_as_array,
              wrapper: :horizontal_select2
             %>
          <%= form.association :list,
              collection: lists,
              wrapper: :horizontal_select2
             %>
          <%= render 'tasks/cross_reference_form', form: form %>
          <%= form.input :priority, collection:
                Task::PRIORITIES.map {|x| [t(x, scope: 'titracka.priority'), x]},
                  include_blank: false,
                  input_html: {class: 'col-lg-4 col-sm-8'}
             %>
          <%= form.input :start, as: :date, html5: true, wrapper: :horizontal_date,
                      input_html: { class: 'col-lg-4 col-sm-8'}

            %>
           <%= form.input :deadline, as: :date, html5: true, wrapper: :horizontal_date,
                      input_html: { class: 'col-lg-4 col-sm-8'}
            %>
          <%= form.input :resubmission, as: :date, html5: true, wrapper: :horizontal_date,
                      input_html: { class: 'col-lg-4 col-sm-8'}
             %>
          <%= form.input :private
             %>
          <div data-form-target="errorSuccess" class="" role="alert"></div>
        </div>
        <div class="modal-footer">
          <%= form.button :submit, class: 'btn btn-primary' %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
