<%= content_tag :li,
      class: "list-group-item",
      id: "card_task_#{task.id}",
      data: {
        "draggable-target": ('task' if ability.can?(:update, task)),
        controller: 'task',
        id: task.id,
        url: state_task_path(column, task)
      } do %>
  <div class=""
       id="task_subject_<%= task.id %>"
       data-reflex="click->Task#show"
       data-modal-id="showTaskModal"
       data-reflex-dataset="combined">
    <div class="d-flex w-100"><%= task.subject %></div>
    <div class="d-flex w-100 justify-content-between small">
      <p class="mb-1"><%= truncate(strip_tags(task.description.to_s), length: 100) %></p>
    </div>
    <div class="d-flex w-100 small text-muted">
     <%= task.cross_references.join(" ") %>
    </div>
    <div class="d-flex w-100 justify-content-between small text-muted">
     <%= raci(task) %>
    </div>
    <div class="d-flex w-100 justify-content-between small text-muted">
      <span> <%= task.start %> </span>
      <span> <%= "&#x21A6; #{task.deadline}".html_safe if task.deadline.present? %> </span>
    </div>
  </div>
  <div class="d-flex w-100 small">
    <div class="">
      <span id="show_task_<%= task.id %>"
            title="<%= t('actions.show', model: Task.model_name.human) %>"
            data-reflex="click->Task#show"
            data-modal-id="showTaskModal"
            data-reflex-dataset="combined">
        <%= icon_show %>
      </span>
    </div>
    <% if ability.can? :update, task %>
      <div data-controller='task' class="ml-2">
        <span id="open_edit_task_<%=  task.id %>"
              title="<%= t('actions.edit', model: Task.model_name.human) %>"
              data-reflex="click->Task#edit"
              data-task-id="<%= task.id %>"
              data-modal-id="formTaskModal"
              data-reflex-dataset="combined">
          <%= icon_edit %>
        </span>
      </div>
    <% end %>
    <div data-controller='note' class="ml-2">
      <span id="open_new_task_comment<%=  task.id %>"
            title="<%= t('actions.add', model: Note.model_name.human) %>"
            data-reflex="click->Note#new"
            data-task-id="<%= task.id %>"
            data-modal-id="formNoteModal"
            data-reflex-dataset="combined">
        <i class="far fa-comment"></i>
      </span>
    </div>
    <div data-controller='modal' class="ml-2">
      <span data-modal-target="modalForm modal.modalView"
            data-action="click->modal#open"
            data-modalId="timeAccountingModal"
            data-actionurl="<%= task_time_accountings_path(task) %>"
            title="<%= t('actions.add', model: TimeAccounting.model_name.human) %>">
        <i class="far fa-clock"></i>
      </span>
    </div>
  </div>
<% end %>
