<%= content_tag :li,
      class: "list-group-item",
      data: {
        target: 'draggable.task',
        url: state_task_path(column, task)
      } do %>
  <div class="d-flex w-100 justify-content-between">
    <p><%= task.subject %></p>
  </div>
  <div class="d-flex w-100 justify-content-between small">
    <p class="mb-1"><%= truncate(strip_tags(task.description.to_s), length: 100) %></p>
  </div>
  <div class="d-flex w-100 justify-content-between small">
    <div data-controller='modal'>
      <span data-target="modal.modalView"
            data-action="click->modal#open"
            data-modalId="showTaskModal">
        <%= icon_show %>
      </span>
    </div>
    <div data-controller='modal'>
      <span data-target="modal.modalForm modal.modalView"
            data-action="click->modal#open"
            data-modalId="timeAccountingModal"
            data-actionurl="<%= task_time_accountings_url(task) %>" >
        <i class="far fa-clock"></i>
      </span>
    </div>
  </div>
<% end %>
