<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div data-controller="datatables" class="mb-3">
  <%= content_tag :table, role: :datatable,
        id: "time_accountings_table",
        class: "table table-bordered table-responsive-xl",
        data: {
          "datatables-target": 'datatable',
          order: [[0, 'desc']].to_json
        } do %>
    <thead>
      <tr>
            <th><%= t('attributes.date') %></th>
            <th><%= t('attributes.duration') %></th>
            <th class="notvisible"><%= t('attributes.task') %></th>
            <th><%= t('attributes.description') %></th>
            <th><%= t('attributes.user') %></th>
            <th class="nosort"><%= t('titracka.action') %></th>
      </tr>
    </thead>
    <tfoot class="search">
      <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
      </tr>
    </tfoot>
    <tbody>
      <% time_accountings.each do |time_accounting| %>
        <%= content_tag(:tr, id: dom_id(time_accounting)) do %>
                <td><%= time_accounting.date %></td>
                <td><%= time_accounting.duration %></td>
                <td><%= time_accounting.task %></td>
                <td><%= time_accounting.description %></td>
                <td><%= time_accounting.user %></td>
                <td class="text-nowrap">
            <%= show_link [time_accounting.task, time_accounting] %>
            <%= edit_link [time_accounting.task, time_accounting] %>
            <%= delete_link [time_accounting.task, time_accounting] %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>
