<%= render partial: 'time_accountings/modal_form',
           locals: { time_accounting: TimeAccounting.new(date: Date.today) } %>

<h1><%= t('controller.tasks') %></h1>

<%= content_tag :div, class: :row, data: { controller: 'draggable' } do %>
  <% @columns.each do |column| %>
    <div class='card-deck col px-2'>
      <div class='card border-0 bg-light'>
        <div class="card-header text-center border">
          <%= column.name %>
        </div>

        <%= content_tag :ul, class: 'list-group list-group-flsh dropzone px-1', data: { id: column.id, target: 'draggable.column' } do %>
          <%= render column.tasks, column: column %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

