<%= render 'shared/turbo-cache-control' %>

<h1><%= @taskable %></h1>

<div id="ts_tasks">
  <%= render 'list', tasks: @tasks %>
</div>

<br />

<%= back_link %>
<%= new_link([@taskable, Task],
             data: { 'turbo-frame': "modal" })
%>

