<%= render 'shared/turbo-cache-control' %>

<h1><%= @taskable %></h1>

<div id="ts_tasks" class="pt-2">
  <%= render 'list', tasks: @tasks %>
</div>

<br />

<%= back_link %>
<%= new_link([@taskable, Task],
             data: { 'turbo-frame': "modal" })
%>
<% if @taskable %>
  <%= link_to(polymorphic_path(@taskable), class: 'btn btn-secondary') do %>
    <%= raw(%Q[<i class="fas fa-clipboard-list fw"></i>]) %> Cardboard
  <% end %>
<% end %>


