<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="container">
  <%= form_tag(tasks_path, method: :get, role: "form",
        class: 'form-horizontal card') do |f| %>

    <div class="card-header">
      <legend class="offset-sm-2 col-sm-10"><%= t('titracka.search_tasks') %></legend>
    </div>
    <div class="card-body">

      <div class="form-group row">
	<%= label_tag :subject, t('attributes.name'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
	  <%= text_field_tag :subject, nil,  class: "form-control" %>
	</div>
      </div>

      <div class="form-group row" data-controller="select2">
	<%= label_tag :status, t('attributes.state'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= select_tag "state_ids",
                options_from_collection_for_select(State.all, :id, :name),
                include_blank: true, 
                multiple: true,
                class: 'form-control select2',
                data: { 'select2-target': 'input' }
            %>
          </select>
	</div>
      </div>

      <div class="form-group row" data-controller="select2">
	<%= label_tag :org_unit_id, t('attributes.org_unit'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= select_tag "org_unit_id",
                options_from_collection_for_select(OrgUnit.accessible_by(current_ability, :read), 'id', 'name_for_selects'),
                include_blank: true, 
                class: 'form-control select2',
                data: { 'select2-target': 'input' }
            %>
          </select>
	</div>
      </div>

      <div class="form-group row">
	<div class="offset-sm-2 col-sm-10">
          <div class="form-check">
            <%= check_box_tag :subtree, "1", false, class: "form-check-input" %>
            <label class="form-check-label" for="subtree">
              <%= t('titracka.include_subtree') %>
            </label>
          </div>
	</div>
      </div>

      <div class="form-group row" data-controller="select2">
	<%= label_tag :list_id, t('attributes.list'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= select_tag "list_id",
                options_from_collection_for_select(List.accessible_by(current_ability, :read), 'id', 'name_for_selects'),
                include_blank: true, 
                class: 'form-control select2',
                data: { 'select2-target': 'input' }
            %>
          </select>
	</div>
      </div>

      <div class="form-group row" data-controller="select2">
	<%= label_tag :user_id, t('attributes.owner'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= select_tag "user_id",
                options_from_collection_for_select(Wobauth::User.all, 'id', 'name'),
                include_blank: true, 
                class: 'form-control select2',
                data: { 'select2-target': 'input' }
            %>
          </select>
	</div>
      </div>

      <div class="form-group row" data-controller="select2">
	<%= label_tag :responsible_id, t('attributes.responsible'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= select_tag "responsible_id",
                options_from_collection_for_select(Wobauth::User.all, 'id', 'name'),
                include_blank: true, 
                class: 'form-control select2',
                data: { 'select2-target': 'input' }
            %>
          </select>
	</div>
      </div>

      <div class="form-group row" data-controller="select2">
	<%= label_tag :priority, t('attributes.priority'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-10">
          <%= select_tag "priority_ids",
                options_for_select(t('titracka.priority').map {|k,v| [v,k]}),
                multiple: true,
                include_blank: true, 
                class: 'form-control select2',
                data: { 'select2-target': 'input' }
            %>
          </select>
	</div>
      </div>

      <div class="form-group form-row">
        <label for="start" class="col-sm-2 col-form-label"><%=t('attributes.start')%></label>
        <div class="input-group col-sm-3">
          <div class="input-group-prepend">
            <div class="input-group-text">&geq;</div>
          </div>
          <input class="form-control" type="date" name="from_start" id="from_start" autocomplete="off" placeholder="<%= t('attributes.from_start')%>">
        </div>
        <div class="input-group col-sm-3">
          <div class="input-group-prepend">
            <div class="input-group-text">&leq;</div>
          </div>
          <input class="form-control" type="date" name="to_start" id="to_start" autocomplete="off" placeholder="<%= t('attributes.to_start')%>">
        </div>
      </div>

      <div class="form-group form-row">
        <label for="deadline" class="col-sm-2 col-form-label"><%=t('attributes.deadline')%></label>
        <div class="input-group col-sm-3">
          <div class="input-group-prepend">
            <div class="input-group-text">&geq;</div>
          </div>
          <input class="form-control" type="date" name="from_deadline" id="from_deadline" autocomplete="off" placeholder="<%= t('attributes.from_deadline')%>">
        </div>
        <div class="input-group col-sm-3">
          <div class="input-group-prepend">
            <div class="input-group-text">&leq;</div>
          </div>
          <input class="form-control" type="date" name="to_deadline" id="to_deadline" autocomplete="off" placeholder="<%= t('attributes.to_deadline')%>">
        </div>
      </div>

      <div class="form-group form-row">
        <label for="resubmission" class="col-sm-2 col-form-label"><%=t('attributes.resubmission')%></label>
        <div class="input-group col-sm-3">
          <div class="input-group-prepend">
            <div class="input-group-text">&geq;</div>
          </div>
          <input class="form-control" type="date" name="from_resubmission" id="from_resubmission" autocomplete="off" placeholder="<%= t('attributes.from_resubmission')%>">
        </div>
        <div class="input-group col-sm-3">
          <div class="input-group-prepend">
            <div class="input-group-text">&leq;</div>
          </div>
          <input class="form-control" type="date" name="to_resubmission" id="to_resubmission" autocomplete="off" placeholder="<%= t('attributes.to_resubmission')%>">
        </div>
      </div>

      <div class="form-group row">
	<%= label_tag :limit, t('attributes.limit'), class: "col-sm-2 col-form-label" %>
	<div class="col-sm-3">
	  <%= text_field_tag :limit, 100,  class: "form-control" %>
	</div>
      </div>

      <div class="form-group row">
	<div class="offset-sm-2 col-sm-10">
          <div class="form-check">
            <%= check_box_tag :private, "1", false, class: "form-check-input" %>
            <label class="form-check-label" for="private">
              <%= t('attributes.private') %>
            </label>
          </div>
	</div>
      </div>

      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Darstellung</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="view" id="view1" value="cards" checked>
              <label class="form-check-label" for="view1">
                <%= t('titracka.cardboard') %>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="view" id="view2" value="list">
              <label class="form-check-label" for="view2">
                <%= t('titracka.list') %>
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <hr />

      <div class="form-group row">
	<div class="col-sm-10 offset-sm-2">
	  <%= submit_tag(t('titracka.search_tasks'),
                class: 'btn btn-primary') %>
          <% if false %>
          <% if can? :csv, Task %>
	    <%= submit_tag(t('titracka.csv_export'),
                  name: 'commit', class: 'btn btn-primary',
                  formtarget: '_blank',
                  formaction: tasks_path(format: :csv)) %>

          <% end %>
          <% end %>
	  <%= cancel_button %>
	</div>
      </div>
    </div>
  <% end %>
</div>
