<%= turbo_frame_tag 'modal-body' do %>
  <div class="modal-header" id="showTaskModalHeader">
    <div class="text-muted">
      <%= link_to "Aufgabe ##{@task.id}", @task, data: { turbo: false } %>
      <h5 class="modal-title" id="showTaskModalLabel"><%= @task.subject %></h5>
    </div>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
      </button>
  </div>
  <div class="modal-body border-bottom"> 
    <div id="showTaskModalTable" class="pb-2">
      <%= render 'tasks/show_task', task: @task %>
    </div>
  </div>
  <div class="modal-body bg-light"> 
    <div id="newTaskNote" class="pb-2">
      <%= render 'tasks/note_form', task: @task %>
    </div>
  </div>

  <div class="modal-footer bg-light">
    <h5 class="d-flex w-100 mb-0 text-muted"><%= t('controller.notes') %></h5>
    <ul class="list-group list-group-flush" id="showTaskNotesCollection">
      <%= render partial: 'notes/note', 
                 collection: @task.notes.order("created_at desc"),
                 layout: 'shared/list_group_item_layout' %>
    </ul>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
<% end %>

