<%= render 'shared/turbo-cache-control' %>

<div class="card">
  <div class="card-header">
    <div class="d-flex w-100 justify-content-between">
      <div>
        <span class="subtitle"><%= t('activerecord.models.task') %>: #<%= @task.id %></span>
        <h4 class="title"><%= @task %></h4>
      </div>
      <div role="toolbar" class="pt-3">
        <%= edit_link(@task,
             data: { 'turbo-frame': "modal" })
         %>
        <%= delete_link(@task) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <div class="card-body" id="ts_show_task">
        <%= render partial: 'show_task', locals: {task: @task} %>
        <div role="toolbar">
          <%= back_link %>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card-body">
        <%= content_tag :table, class: "table table-sm" do %>
          <thead>
            <tr class="bg-light">
              <th class="text-center text-monospace">Period</th>
              <th class="text-center text-monospace">HH:MM</th>
            </tr>
          </thead>
          <tbody>
          <h5 class="card-title text-center"><%= @current_user.decorate.shortname %></h5>
            <% @task.decorate.statistics(user: @current_user).each do |time,sum| %>
              <tr>
                <td class="text-center text-monospace"><%= sprintf(time.join("-") )%></td>
                <td class="text-center text-monospace"><%= hourmin(sum) %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <% @task.decorate.statistics(user: @current_user, resolution: 'year').each do |time,sum| %>
              <tr class="bg-light">
                <td class="text-center text-monospace text-bold"><%= time %></td>
                <td class="text-center text-monospace text-bold"><%= hourmin(sum) %></td>
              </tr>
            <% end %>
          </tfoot>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-6">
    <div class="card mt-3">
      <div class="card-header">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="card-title"><%= t('attributes.notes')%></h5>
            <%= link_to raw(%Q[<i class="fas fa-table"></i>]),
                  task_notes_path(@task),
                  class: 'btn btn-outline-secondary btn-sm'
             %>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush" id="ts_notes_list">
          <%= render partial: 'notes/note', collection: @task.notes.order("created_at desc"), layout: 'shared/list_group_item_layout' %>
        </ul>
        <%= new_link [@task, Note],
                data: { 'turbo-frame': "modal" }
         %>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-6">
    <div class="card mt-3">
      <div class="card-header">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="card-title mb-0"><%= t('attributes.time_accountings')%></h5>
          <div role="toolbar" class="pt-0">
            <%= link_to raw(%Q[<i class="fas fa-table"></i>]),
                  task_time_accountings_path(@task),
                  class: 'btn btn-outline-secondary btn-sm'
             %>
            <%= new_link [@task, TimeAccounting],
                  class: 'btn btn-outline-secondary btn-sm',
                  data: { 'turbo-frame': "modal" }
             %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id='ts_time_accountings'>
          <%= render Task::TimeAccountingsComponent.new(task: @task) %>
      </div>
    </div>
  </div>
</div>
