<div class="card">
  <div class="card-header">
    <div class="subtitle float-none"><%= t('activerecord.models.task') %>:</div>
    <h4 class="title float-left"><%= @task %></h4>

    <div role="toolbar" class="float-right">
      <%= edit_link(@task) %>
      <%= delete_link(@task) %>
    </div>
  </div>
  <div class="card-body">
    <%= render partial: 'show_task', locals: {task: @task} %>
    <div role="toolbar">
      <%= back_link %>
      <%= new_link Task %>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">
    <h5 class="card-title"><%= t('attributes.notes')%></h5>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <%= render partial: 'notes/note', collection: @task.notes.order("created_at desc"), layout: 'shared/list_group_item_layout' %>
    </ul>
    <%= new_link [@task, Note] %>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">
    <h5 class="card-title mb-0"><%= t('attributes.time_accountings')%></h5>
    <span class="text-muted small"><%= @task.time_accountings.sum(:duration) %> min</span>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <%= render partial: 'time_accountings/time_accounting', collection: @task.time_accountings, layout: 'shared/list_group_item_layout' %>
    </ul>
    <%= new_link [@task, TimeAccounting] %>
  </div>
</div>

