<%= simple_form_for([@time_accountable, @time_accounting]) do |f| %>

    <%= f.association :task, 
        collection: @tasks,
        label_method: :name_with_list_or_org_unit,
        wrapper: :horizontal_select
       %>
    <%= f.input :description
       %>
    <%= f.input :date, as: :date, html5: true, wrapper: :horizontal_date
       %>
    <%= f.input :formatted_duration, as: :string, wrapper: :horizontal_short
       %>

    <div class="row">
      <div class="offset-sm-3">
        <%= f.button :submit, class: 'btn btn-primary' %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('actions.cancel') %></button>
      </div>
    </div>

<% end %>
