<%= simple_form_for([@time_accountable, @time_accounting],
      data: { action: "turbo:submit-end->modal#handleSubmit" }) do |f| %>

  <div class="modal-header bg-light">
    <div>
      <div class="text-muted">
        <span><%= t('activerecord.models.time_accounting') %> <%= t('titracka.for') %></span>
      </div>
      <h5 class="modal-title">
        <%= @time_accountable || @current_user %>
      </h5>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
    </button>
  </div>

  <div class="modal-body">
    <%= f.association :task, 
        collection: @tasks,
        label_method: :name_with_list_or_org_unit,
        wrapper: :horizontal_select2
       %>
    <%= f.input :description
       %>
    <%= f.input :date, as: :date, html5: true, wrapper: :horizontal_date
       %>
    <%= f.input :formatted_duration, as: :string, wrapper: :horizontal_short
       %>

    <div class="row">
      <div class="offset-sm-3">
        <%= f.button :submit, class: 'btn btn-primary' %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('actions.cancel') %></button>
      </div>
    </div>

  </div>
<% end %>
