<div class="container">
  <%= simple_form_for(@time_accounting,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">
      <%= f.association :task
	 %>
      <%= f.association :user
	 %>
      <%= f.input :description
	 %>
      <%= f.input :date
	 %>
      <%= f.input :duration
	 %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
