<div class="modal fade" id="timeAccountingModal" tabindex="-1" role="dialog" 
     aria-labelledby="timeAccountingModalLabel" aria-hidden="true"
     data-controller="form" data-form-render-root="tasksCardboard">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="timeAccountingModalLabel">
          <%= t('actions.add', model: t('activerecord.models.time_accounting')) %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(time_accounting,
            remote: true,
	    html: { class: 'form-horizontal' },
            data: { 
              action: "ajax:success->form#onPostSuccess ajax:error->form#onPostError"
            }
          ) do |f| %>
	<div class="modal-body">
          <%= f.input :description %>
          <%= f.input :date, as: :string, wrapper: :horizontal_date,
                      input_html: { class: 'col-lg-4 col-sm-8' } %>
          <%= f.input :formatted_duration, as: :string, 
                      input_html: { class: 'col-lg-4 col-sm-8' } %>

          <div data-form-target="errorSuccess" class="" role="alert"></div>
	</div>
	<div class="modal-footer">
          <%= f.button :submit, class: 'btn btn-primary' %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

	</div>
      <% end %>
    </div>
  </div>
</div>
