<%= render 'shared/turbo-cache-control' %>

<h1><%= t('controller.time_accountings') %></h1>

<div id='ts_time_accountings'>
  <%= render TimeAccountings::IndexComponent.new(user: @current_user) %>
</div>

<br />

<%= back_link %>
<%= new_link TimeAccounting, 
                data: { 'turbo-frame': "modal" }

 %>
