<div class="card">
  <div class="card-header">
    <div class="subtitle float-none"><%= t('activerecord.models.time_accounting') %>:</div>
    <h4 class="title float-left"><%= @time_accounting %></h4>

    <div role="toolbar" class="float-right">
      <%= edit_link(@time_accounting) %>
      <%= delete_link(@time_accounting) %>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-borderless table-sm table-hover autowidth">
    
      <tr>
        <th><%= t('attributes.date')%>:</th>
        <td><%= @time_accounting.date %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.duration')%>:</th>
        <td><%= @time_accounting.duration %></td>
      </tr>

      <tr>
        <th><%= t('attributes.task')%>:</th>
        <td class="w-100"><%= @time_accounting.task %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.description')%>:</th>
        <td><%= @time_accounting.description %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.user')%>:</th>
        <td><%= @time_accounting.user %></td>
      </tr>
    
    </table>

    <div role="toolbar">
      <%= back_link %>
      <%= new_link TimeAccounting %>
    </div>
  </div>
</div>
