<% if can? :navigate, :tasks %>
  <li class="nav-item dropdown <%= active_class('tasks') %>">
    <a class="nav-link dropdown-toggle" href="#" id="navbarConfigurationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

      <%= t('controller.tasks') %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarConfigurationDropdown">
      <%= link_to raw( '<i class="fas fa-fw fa-clipboard-list" aria-hidden="true"></i> ' +
            t('titracka.cardboard')),
          main_app.tasks_path(view: 'cards'), class: "dropdown-item" %>
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
            t('controller.tasks')),
          main_app.tasks_path, class: "dropdown-item" %>
      <% if can? :create, List %>
        <%= link_to raw('<span class="fas fa-fw fa-plus" aria-hidden="true"></span> ' +
                        t('titracka.new_task')),
              main_app.new_task_path,
              class: "dropdown-item" %>
      <% end %>

    </div>
  </li>
<% end %>

