<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<%= render partial: 'tasks/modal_for_cards' %>

<div class="row">
   <div class="col-auto">
     <div class="card" data-controller="dashboard">
      <div class="card-header">
        <%= t('controller.org_units') %> /
        <%= t('controller.lists') %>
      </div>
      <div class="card-body py-0">
        <nav class="d-sm-block pl-0 py-3 sidebar" id="org_unit_tree" data-target="dashboard.tree">
          <%= arranged_tree_as_list( @elements, sort_by: [:position],
                open_id: params[:clicked]) do |element| %>
            <%= link_to " #{element.name} (#{element.tasks.not_archived.count})", "#",
                  remote: true,
                  data: {
                    reflex: "click->DashboardReflex#cardboard",
                    reflex_root: "#dashboardContent",
                    element_id: element.id,
                    element_type: element.model_name.to_s.underscore
                  },
                  id: dom_id(element),
                  class: (element.model_name.to_s.underscore +
                          if @element == element
                            " jstree-clicked"
                           end.to_s)
            %>
          <% end %>
          <ul role="group">
            <li role="presentation">
              <%= link_to " Private", '#',
                  remote: true,
                  data: {
                    reflex: "click->DashboardReflex#cardboard",
                    reflex_root: "#dashboardContent",
                    element_id: "privateTasksId",
                    element_type: "privateTasks"
                  },
                  id: "privateTasksId",
                  class: ("privateTasks" +
                           if params['private'].present?
                             " jstree-clicked"
                           end.to_s)
              %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div id="dashboardContent" class="col">
    <%= render 'tasks/cards', columns: @columns, 
                              tasks_per_column: @tasks_per_column,
                              filter: @filter,
                              url: root_path(@search_params) %>
  </div>
</div>
