<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="row">
   <div class="col-auto">
     <div class="card">
      <div class="card-header">
        <%= t('controller.org_units') %> /
        <%= t('controller.lists') %>
      </div>
      <div class="card-body py-0">
        <nav class="d-sm-block ps-0 py-3 sidebar" 
             id="org_unit_tree" 
             data-controller="dashboard"
        >
          <%= arranged_tree_as_list( @elements, sort_by: [:position],
                open_id: params[:clicked]) do |element| %>
            <%= link_to " #{element.name} (#{element.tasks.visible.count})",
                  root_path("#{element.model_name.to_s.underscore}_id" => element.id),
                  data: { "action": "click->dashboard#open",
                          "url": polymorphic_path(element) },
                  id: dom_id(element),
                  class: (element.model_name.to_s.underscore +
                          if @element == element
                            " jstree-clicked"
                           end.to_s)
            %>
          <% end %>
          <ul role="group">
            <li role="presentation">
              <%= link_to " Private", root_path(private: 1),
                  data: { "action": "click->dashboard#open" },
                  id: "privateTasksId",
                  class: ("privateTasks" +
                           if params['private'].present?
                             " jstree-clicked"
                           end.to_s)
              %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div id="ts_task_cards" class="col">
    <%= render('tasks/cards', columns: @columns, 
                              tasks: @tasks,
                              filter: @filter,
                              ability: current_ability,
                              url: root_path(@search_params)) if @columns.present? %>
  </div>
</div>
