<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="row">
   <div class="col-auto">
     <div class="card" data-controller="dashboard">
      <div class="card-header">
        <%= t('controller.org_units') %> /
        <%= t('controller.lists') %>
      </div>
      <div class="card-body py-0">
        <nav class="d-sm-block pl-0 py-3 sidebar" id="org_unit_tree" data-target="dashboard.tree">
          <%= arranged_tree_as_list( @elements, sort_by: [:position],
                open_id: params[:clicked]) do |element| %>
            <%= link_to " #{element.name} (#{element.tasks.not_archived.count})", "#",
                  remote: true,
                  data: {
                    reflex: "click->DashboardReflex#cardboard",
                    reflex_root: "#tasksCardboard",
                    element_id: element.id,
                    element_type: element.class.name.underscore.to_s
                  },
                  id: dom_id(element),
                  class: (element.class.name.underscore +
                          if element.id == params[:clicked].to_i
                            " jstree-clicked"
                           end.to_s)
            %>
          <% end %>
        </nav>
      </div>
    </div>
  </div>
  <div id="dashboard-content" class="col">
    <%= render 'tasks/cards', columns: @columns, tasks_per_column: @tasks_per_column %>
  </div>
</div>

