<%= turbo_frame_tag 'modal-body' do %>
  <%= render 'tasks/modal/task_header', task: @task %>
  <%= render 'tasks/modal/show_task', task: @task %>
  <%= render 'tasks/modal/note_form', task: @task %>

  <div class="modal-footer bg-light">
    <h5 class="d-flex w-100 mb-0 text-muted"><%= t('controller.notes') %></h5>
    <ul class="list-group list-group-flush" id="showTaskNotesCollection">
      <%= render partial: 'notes/note', 
                 collection: @task.notes.order("created_at desc"),
                 layout: 'shared/list_group_item_layout' %>
    </ul>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
<% end %>

