<%= render 'shared/turbo-cache-control' %>

<div class="container">
  <%= simple_form_for(@reference,
    html: { class: 'form-horizontal card mt-2' }) do |form| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">
      <%= form.input :name
	 %>
      <%= form.input :url
	 %>

      <%= form.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
