<div class="card">
  <div class="card-header">
    <h4><%= t('activerecord.models.reference') %></h4>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover autowidth">
    
      <tr>
        <th><%= t('attributes.name')%>:</th>
        <td><%= @reference.name %></td>
      </tr>
    
      <tr>
        <th><%= t('attributes.identifier_name')%>:</th>
        <td><%= @reference.identifier_name %></td>
      </tr>
        </table>

    <div role="toolbar">
      <%= back_link %>
      <%= edit_link(@reference) %>
      <%= delete_link(@reference) %>
      <%= new_link Reference %>
    </div>
  </div>
</div>
