<div class="card">
  <div class="card-header">
    <h4><%= t('activerecord.models.reference') %></h4>
  </div>
  <div class="card-body">
    <table class="table table-borderless table-hover table-sm">
    
      <tr>
        <th class="w-15"><%= t('attributes.name')%>:</th>
        <td><%= @reference.name %></td>
      </tr>
    
      <tr>
        <th class="w-15"><%= t('attributes.reference_url')%>:</th>
        <td><%= @reference.url %></td>
      </tr>
    
      <tr>
        <th class="w-15"><%= t('attributes.valid_until')%>:</th>
        <td><%= @reference.valid_until %></td>
      </tr>
    </table>

    <div role="toolbar">
      <%= back_link %>
      <%= edit_link(@reference) %>
      <%= delete_link(@reference) %>
      <%= new_link Reference %>
    </div>
  </div>
</div>
