<div class="container">
  <%= simple_form_for(@org_unit,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">
      <%= f.input :name
	 %>

      <%= f.input :parent_id, as: :hidden %>
      <%= f.input :parent_id,
            collection: OrgUnit.arrange_as_array,
            wrapper: :horizontal_select2
        %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
