<div class="card">
  <div class="card-header">
    <h4><%= t('activerecord.models.org_unit') %></h4>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover autowidth">
    
      <tr>
        <th><%= t('attributes.name')%>:</th>
        <td><%= @org_unit.name %></td>
      </tr>
    
    </table>

    <div role="toolbar">
      <%= back_link %>
      <%= edit_link(@org_unit) %>
      <%= delete_link(@org_unit) %>
      <%= new_link OrgUnit %>
    </div>
  </div>
</div>
