<div class="card mb-2">
  <div class="card-header">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="title"><%= @org_unit %></h4>

      <div role="toolbar">
        <%= back_link %>
        <%= edit_link(@org_unit) %>
        <%= delete_link(@org_unit) %>
      </div>
    </div>
    <div class="text-body-secondary">
      <%= @org_unit.description %>
    </div>
    <% if @org_unit.valid_until.present? %>
      <div class="text-body-secondary">
        <%= "Gültig bis: #{@org_unit.valid_until}" %>
      </div>
    <% end %>
  </div>
</div>

<div id="ts_task_cards" class="ml-2 mb-3">
<%= render 'tasks/cards',
      columns: @columns,
      tasks: @tasks,
      ability: @current_ability
 %>

</div>
