<div class="container">
  <%= simple_form_for(@workday,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">
      <%= f.input :date, as: :string, wrapper: :horizontal_date
	 %>
      <%= f.input :work_start, html5: true,
            minute_step: 10,
            default: { hour: 7 },
            input_html: { class: 'col-sm-3', step: 600 }
	 %>
      <%= f.input :pause, 
            input_html: { class: 'col-sm-3'}
	 %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
