<%= content_tag :div,
      class: "card priority-#{task.priority} m-1",
      id: "card_task_#{task.id}",
      data: {
        controller: 'task toggle',
        'toggle-toggle-class': 'hidden',
        id: task.id
      } do %>
  <div class="card-body p-3">
    <span data-action="click->toggle#toggle" class="float-right">
      <i data-toggle-target="content" class="clapse icon-color hidden"></i>
    </span>

    <%= link_to(new_task_note_path(task),
                id: "task_subject_#{task.id}",
                class: "force_card me-1",
                data: { 'turbo-frame': "modal" }) do
    %>
      <div class="d-flex w-100"><%= task.subject %></div>
      <div data-toggle-target="content" class="hidden">
        <div class="d-flex w-100 justify-content-between small text-body-secondary">
          <p class="mb-1"><%= truncate(strip_tags(task.description.to_s), length: 100) %></p>
        </div>
        <div class="small text-body-secondary">
         <%= raci(task) %>
        </div>
      </div>
      <div class="d-flex w-100 justify-content-between small timeline">
        <%= timeline(task) %>
      </div>
    <% end %>

    <!-- action icons -->
    <div class="d-flex w-100 small icon-color pt-1 mt-1">
      <%= link_to raw('<i class="far fa-clock"></i>'),
                  new_workday_time_accounting_path(workday, task_id: task.id),
                  title: t('actions.add', model: TimeAccounting.model_name.human),
                  class: "ms-1 me-2",
                  data: { 'turbo-frame': "modal" }
       %>
      <%= link_to raw(%Q[<i class="far fa-comment"></i>]),
                  new_task_note_path(task),
                  id: "new_note_#{dom_id(task)}",
                  class: "ms-1 me-2",
                  data: { 'turbo-frame': "modal" }
       %>
      <% if current_ability.can? :update, task %>
        <%= link_to icon_edit,
                    edit_task_path(task),
                    id: "edit_#{dom_id(task)}",
                    class: "ms-1 me-2",
                    data: { 'turbo-frame': "modal" }
         %>
      <% end %>
    </div>
  </div>
<% end %>
