<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<h1><%= t('controller.workdays') %></h1>

<div data-controller="datatables">
  <%= content_tag :table, role: :datatable,
        id: "workdays_table",
        class: "table table-bordered table-responsive-xl",
        data: {
          "datatables-target": 'datatable',
          order: [[0, 'desc']].to_json
        } do %>
    <thead>
      <tr>
            <th class="text-center"><%= t('attributes.date') %></th>
            <th class="text-center"><%= t('attributes.formatted_duration') %></th>
            <th class="notvisible text-center"><%= t('attributes.duration') %></th>
            <th class="text-center"><%= t('attributes.work_start') %></th>
            <th class="text-center"><%= t('attributes.pause') %></th>
            <th><%= t('attributes.user') %></th>
            <th class="nosort"><%= t('titracka.action') %></th>
      </tr>
    </thead>
    <tfoot class="search">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    <tbody>
      <% @workdays.each do |workday| %>
        <%= content_tag_for(:tr, workday) do %>
          <td class="text-center align-middle"><%= workday.date %></td>
          <td class="text-center align-middle"><%= hourmin(workday.duration) %></td>
          <td class="text-center align-middle"><%= workday.duration %></td>
          <td class="text-center align-middle"><%= workday.work_start_hourmin %></td>
          <td class="text-center align-middle notvisible"><%= workday.pause %></td>
          <td class="align-middle notvisible"><%= workday.user %></td>
          <td class="text-nowrap">
            <%= show_link workday %>
            <%= edit_link workday %>
            <%= delete_link workday %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>

<br />

<%= back_link %>
<%= new_link Workday %>
