<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="card">
  <div class="card-header d-flex w-100 justify-content-between"
    data-controller="dateselector" data-dateselector-url="<%= root_path %>">
    <h3 class="title">
      <%= t('date.day_names')[@workday.date.wday] %>, <%= @workday.date.to_s %>
    </h3>

    <div role="toolbar">
      <input type="hidden" data-target="dateselector.field">
      <button class="btn btn-secondary" data-target="dateselector.date">
        <i class="far fa-calendar-alt"></i>
      </button>

      <%= edit_link(@workday) %>
      <%= delete_link(@workday) %>
    </div>
  </div>
  <div class="card-body">

    <div data-controller="datatables">
      <%= content_tag :table, role: :datatable,
            id: "time_accountings_table",
            class: "table table-striped table-bordered table-responsive-xl",
            data: {
              target: 'datatables.datatable',
              order: [[0, 'desc']].to_json
            } do %>
        <thead>
          <tr>
            <th class="text-center nosort">[ <%= start_of_day(@workday) %> ]</th>
            <th class="text-center"><%= t('attributes.duration') %></th>
            <th><%= t('attributes.task') %></th>
            <th><%= t('attributes.description') %></th>
            <th class="notvisible"><%= t('attributes.user') %></th>
            <th class="text-center nosort"><%= t('titracka.action') %></th>
          </tr>
        </thead>
        <tbody>
          <% if @workday.pause > 0 %>
            <tr>
              <td class="text-center align-middle"><%= @workday.date %></td>
              <td class="text-center align-middle"><%= hourmin(@workday.pause) %></td>
              <td class="align-middle">Pause</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          <% end %>

          <% @time_accountings.each do |time_accounting| %>
            <%= content_tag_for(:tr, time_accounting) do %>
              <td class="text-center align-middle"><%= time_accounting.date %></td>
              <td class="text-center align-middle"><%= hourmin(time_accounting.duration) %></td>
              <td class="align-middle"><%= time_accounting.task %></td>
              <td class="align-middle"><%= time_accounting.description %></td>
              <td class="align-middle"><%= time_accounting.user %></td>
              <td class="text-nowrap text-right">
                <%= show_link(time_accounting) %>
                <%= edit_link(time_accounting) %>
                <%= delete_link(time_accounting) %>
              </td>
            <% end %>
          <% end %>
        </tbody>
        <tfoot class="search">
          <tr>
            <th class="text-center">[ <%= @end_of_work.to_s(:hourmin) %> ]</th>
            <th class="text-center"><%= hourmin(@work_sum) %></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      <% end %>
    </div>

    <br />

    <%= back_link %>
    <%= new_link TimeAccounting %>
  </div>
</div>
