<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="row" id="workdayTimeRow">
  <div class="col-sm-9">
    <div class="card">
      <div class="card-header d-flex w-100 justify-content-between"
        data-controller="dateselector" data-dateselector-url="<%= root_path %>">
        <div class="w-75">
          <h3 class="title">
            <%= t('date.day_names')[@workday.date.wday] %>, <%= @workday.date.to_s %>
          </h3>
          <div class="text-muted"><%= @workday.day_type&.to_str %></div>
          <div class="text-muted"><%= @workday.comment %></div>
        </div>

        <div role="toolbar">
          <input type="hidden" data-dateselector-target="field">
          <button class="btn btn-secondary" data-dateselector-target="date">
            <i class="far fa-calendar-alt"></i>
          </button>

          <%= edit_link(@workday) %>
          <%= delete_link(@workday) %>
        </div>
      </div>

      <div class="card-body">
        <div id='ts_time_accountings'>
          <%= render Workday::TimeAccountingsComponent.new(workday: @workday, user: @current_user) %>
        </div>

        <br />

        <%= back_link %>
        <%= new_link [@workday, TimeAccounting],
                data: {
                  controller: :modal,
                  'modal-modal-id-value': 'sharedModal',
                  action: 'click->modal#open',
                  'turbo-frame': "modal-body"
                }
         %>

        <%= link_to raw(%Q[<i class="fas fa-backward"></i>]), 
              by_date_path(date: 1.day.before(@workday.date).to_s), class: "ml-3 btn btn-secondary" %>
        <%= link_to t('titracka.today'), by_date_path(date: Date.today.to_s), class: "btn btn-secondary" %>
        <%= link_to raw(%Q[<i class="fas fa-forward"></i>]), 
              by_date_path(date: 1.day.after(@workday.date).to_s), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <h3 class="title d-flex w-100 justify-content-between">
          <span><%= t('attributes.week') %></span><span><%=@workday.date.cweek %></span>
        </h3>
      </div>
      <div class="card-body">
        <div id="ts_my_week">
          <%= render Workday::MyWeekComponent.new(workday: @workday, user: @current_user) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3 border-0">
  <div class="card-header border mr-1 ml-1">
    <h4 class="card-title mb-0"><%= t('titracka.recent_used_tasks') %></h4>
  </div>
  <div class="card-body m-0 p-0">
<div class="">
  <% @tasks.each_slice(5) do |tasks| %>
    <div class="card-group">
      <% tasks.each do |task| %>
        <%= render 'workdays/task', task: task, ability: @current_ability %>
      <% end %>
    </div>
  <% end %>
</div>
</div>
</div>
