<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Titracka - Time and Task Tracking with Kanban-Board</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body>
  <% # render 'shared/modal' %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="<%= root_path if defined?(root_path)%>#">Titracka</a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <%= render partial: 'shared/navi' %>
        <%= render partial: 'shared/time_accounting' %>
        <%= render partial: 'wobauth/shared/admin' %>
        <%= render partial: 'wobauth/shared/accounting' %>
        <%= render partial: 'shared/info' %>
      </div>
    </div>
  </nav>

  <div class="container-fluid" role="main">
    <% unless controller.action_name =~ /(new|edit)/ %>
      <%= render_breadcrumbs %>
    <% end %>
    <%= show_flash %>
    <%= yield %>
  </div>

  <div id="footer" class="container-fluid">
    <div class="row">
      <div class="col-sm-9">
        <%= render :partial => 'shared/footer' %>
      </div>
      <div class="col-sm-3">
        <%= render :partial => 'shared/version' %>
      </div>
    </div>
  </div>

</body>
</html>
